<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ABC Institute App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/generalsettinghome.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>


</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">

        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">General Settings</h2>
            </div>
            <!-- Page Body -->
            <div class="container">
                <!-- start event block -->
                <br/>
                <br/>
                <div class="row align-items-center event-block no-gutters margin-40px-bottom">
                    <div class="col-lg-5 col-sm-12">
                        <div class="position-relative">
                            <img src="https://via.placeholder.com/450x280/FFB6C1/000000" alt="">
                            <div class="events-date">
                                <div class="font-size28">10</div>
                                <div class="font-size14">Mar</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-sm-12">
                        <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                            <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">Business Conference</a></h5>
                            <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                            </ul>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                            <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end event block -->

                <!-- start event block -->
                <div class="row align-items-center event-block no-gutters margin-40px-bottom">
                    <div class="col-lg-7 order-2 order-lg-1">
                        <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
                            <h5 class="margin-15px-bottom md-margin-10px-bottom font-size22 md-font-size20 xs-font-size18 font-weight-500"><a href="event-details.html" class="text-theme-color">Craft Workshops</a></h5>
                            <ul class="event-time margin-10px-bottom md-margin-5px-bottom">
                                <li><i class="far fa-clock margin-10px-right"></i> 09:00 AM - 09:30 PM</li>
                                <li><i class="fas fa-user margin-5px-right"></i> Speaker : Alexa Zone</li>
                            </ul>
                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
                            <a class="butn small margin-10px-top md-no-margin-top" href="event-details.html">Read More <i class="fas fa-long-arrow-alt-right margin-10px-left"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 order-1 order-lg-2">
                        <div class="position-relative">
                            <img src="https://via.placeholder.com/450x280/87CEFA/000000" alt="">
                            <div class="events-date">
                                <div class="font-size28">25</div>
                                <div class="font-size14">Feb</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end event block -->

            </div>

        </div>
    </div>

</div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../styles/jquery.min.js"></script>
<script src="../styles/basics.min.js"></script>
<script src="../styles/bootstrap/bootstrap.min.js"></script>
<script src="../styles/script/slider-custom.js"></script>
<script src="../styles/jquery/jquery-stable.js"></script>
<script src="../styles/jquery/jquery.toaster.js"></script>
<!--<script src="../public/Chart.min.js"></script>-->

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liGeneralSettings').addClass('active');

    });

</script>

</html>
