<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/hours-custom.css" />
    <link rel="stylesheet" href="../public/style/location.css" />
    <link rel="stylesheet" href="../public/style/material-custom.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />

    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">
        <!-- Page Content  -->
         <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Location</h2>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                    <div class="col-md-4">
                      <div class="card-counter primary"
                      onclick="RedirectTo('faculties')">
                        <i class="fa fa-window-maximize"></i>
                        <span class="count-numbers">Faculties</span>
                        <span class="count-name">Faculties</span>
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card-counter danger"
                      onclick="RedirectTo('departments')">
                        <i class="fa fa-window-maximize"></i>
                        <span class="count-numbers">Departments</span>
                        <span class="count-name">Departments</span>
                      </div>
                    </div>
                
                    <div class="col-md-4">
                      <div class="card-counter success"
                      onclick="RedirectTo('centers')">
                        <i class="fa fa-window-maximize"></i>
                        <span class="count-numbers">Centers</span>
                        <span class="count-name">Centers</span>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-counter warning"
                        onclick="RedirectTo('buildings')">
                            <i class="fa fa-window-maximize"></i>
                          <span class="count-numbers">Buildings</span>
                          <span class="count-name">Buildings</span>
                        </div>
                      </div>
                
                    <div class="col-md-4">
                      <div class="card-counter info"
                      onclick="RedirectTo('rooms')">
                        <i class="fa fa-window-maximize"></i>
                        <span class="count-numbers">Rooms</span>
                        <span class="count-name">Rooms</span>
                      </div>
                    </div>
                  </div>
                </div>
                   

            </div>
        </div>

    </div>

</div>



</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    //import external js
    //$.getScript('../systemConst.js');
    //$.getScript('../services/systemSessionContainer.js');

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liSettings').addClass('active');

    });

    $(function() {
    });

    function RedirectTo(value){
        switch (value) {
            case 'faculties':
                window.location.href = "./faculties.html";
                break;
            case 'centers':
                window.location.href = "./centers.html";
                break;
            case 'buildings':
                window.location.href = "./buildings.html";
                break;
            case 'rooms':
                window.location.href = "./rooms.html";
                break;
            case 'departments':
                window.location.href = "./departments.html";
                break;
        }
    }

</script>

</html>
