<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Schedule App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/notavailablehome.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>


</head>

<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;"
                        onclick="window.location.href='./generalSettings.html'">Back
                </button>

                <h2 class="title-font-custom">Not Available Times</h2>
            </div>


            <!-- Page Body -->
            </br>
            </br>
            </br>
            </br>

            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="cursor: pointer"
                         onclick="window.location.href='notAvailableLectures.html'">

                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span></span></h2>  </br>
                                <h3 class="m-b-20 text-center  " style="" >Lecturers</h3>
                                <p class="m-b-0 text-center "> Not available time of Lecturers<span class="f-right"></span></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4" style="cursor: pointer"
                         onclick="window.location.href='notAvailableSessions.html'">
                        <div class="card bg-c-green order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span></span></h2>  </br>
                                <h3  class="m-b-20 text-center ">Sessions</h3 >
                                <p class="m-b-0 text-center ">Not available time of Sessions
                                    <span class="f-right"></span></p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4" style="cursor: pointer"
                         onclick="window.location.href='notAvailableGroups.html'">
                        <div class="card bg-c-yellow order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span></span></h2>  </br>
                                <h3  class="m-b-20 text-center ">Groups</h3>
                                <p class="m-b-0 text-center ">Not available time of Groups<span class="f-right"> .</span></p>
                            </div>
                        </div>
                    </div>

                    </br>
                    </br>

                    <div class="col-md-4 " style="cursor: pointer"
                         onclick="window.location.href='notAvailableSubGroups.html'">
                        <div class="card bg-c-blue order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span></span></h2>  </br>
                                <h3 class="m-b-20 text-center ">Sup Groups</h3>
                                <p class="m-b-0 text-center ">Not available time of Sup Groups
                                    <span class="f-right"></span></p>
                            </div>
                        </div>
                    </div>

                    </br>
                    </br>

                    <div class="col-md-4" style="cursor: pointer"
                         onclick="window.location.href='notAvailableRooms.html'">
                        <div class="card bg-c-pink order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span></span></h2>  </br>
                                <h3 class="m-b-20 text-center ">Rooms</h3>
                                <p class="m-b-0 text-center ">Not available time of Rooms<span class="f-right"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

    </div>

</div>


</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/Chart.min.js"></script>


<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liGeneralSettings').addClass('active');

    });

</script>

</html>
