<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ABC Institute App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/session-management.css" />
    <link rel="stylesheet" href="../public/style/btn-session-management.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />
    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>

</head>

<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">


        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom form-inline">
                <button type="button" class="btn btn-warning btn-arrow-left" style="margin-left: 6%;"
                        onclick="window.location.href='./generalSettings.html'">Back
                </button>

                <h2 class="title-font-custom">Session Management</h2>
            </div>


            <!-- Page Body -->
            <br/>
            <br/>
            <br/>
            <div class="row bootstrap snippets bootdeys" style="margin-left: 50px">
                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                            <div class="content">
                                <h4 class="title">Consecutive Sessions</a></h4>
                                <span class="description">Consecutive sessions are period of time or events
                                happen one after the other without interruption. </span>
                                <br/>
                                <br/>
                                <a onclick="window.location.href='consecutiveSessions.html'" class="btn btn-palegreen d-block px-2 py-3">Session Look</a>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                            <div class="content">
                                <h4 class="title">Parallel Sessions</a></h4>
                                <span  class="description">Parallel Sessions refers to things that happen parallel.
                                    The parallel sessions are organized in several thematic modules.</span>
                                    <br/>
                                <br/>
                                <a onclick="window.location.href='parrelalSessions.html'" class="btn btn-magenta d-block px-2 py-3">Session Look</a>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 content-card">
                    <div class="card-big-shadow">
                        <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                            <div class="content">
                                <h4 class="title">Not Overlap Sessions</a></h4>
                                <span  class="description">Not Overlap Sessions are
                                    Not Overlap Sessions refers to things that can not happen parallel.</span>
                                <br/>
                                <br/>
                                <a onclick="window.location.href='notOverlapSessions.html'" class="btn btn-darkorange d-block px-2 py-3">Session Look</a>
                            </div>
                        </div> <!-- end card -->
                    </div>
                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>

</div>


</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/Chart.min.js"></script>


<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liGeneralSettings').addClass('active');

    });

</script>

</html>
