<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>ABC Institute App</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../public/boostrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/style/slider-custom.css" />
    <link rel="stylesheet" href="../public/style/back-button-custom.css" />
    <link rel="stylesheet" href="../public/style/academicyear.css" />
    <link rel="stylesheet" href="../public/jConfirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="../public/jtoaster/jquery.toast.min.css" />
    <link rel="stylesheet" href="../public/datatable/jquery.dataTables.min.css" />


    <style>
        .my-card
        {
            position:absolute;
            left:40%;
            top:-20px;
            border-radius:50%;
        }
    </style>

</head>
<body>
<div class="row" style="position: relative;width: calc(100vw - 2px);height: 100%;">

    <div id="navBarID" class="wrapper d-flex align-items-stretch" style="height: 100%">

        <!-- Page Content  -->
        <div class="w-100">
            <div class="w-100 title-custom">
                <h2 class="title-font-custom">Student</h2>
            </div>
            <!-- Page Body -->
            <div class="container">
                <div class="main-body">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="../public/images/academicyear.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                    <h5 class="card-title">Year and Semester</h5>
                                    <p class="text-secondary mb-1">Preview</p>
                                    <p class="text-muted font-size-sm"> (Y1.S1)</p>
                                    <p class="text-muted font-size-sm"> (Y1.S2)</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button" onclick="window.location.href='academicYearandSemester.html'">Go Inside</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="../public/images/book.jpg" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                    <h5 class="card-title">Program</h5>
                                    <p class="text-secondary mb-1">Preview</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.IT)</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.SE)</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button" onclick="window.location.href='programme.html'">Go Inside</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="../public/images/group.jpg" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                    <h5 class="card-title">Group</h5>
                                    <p class="text-secondary mb-1">Preview</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.IT.01)</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.IT.02)</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button" onclick="window.location.href='groupNumbers.html'">Go Inside</button>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img src="../public/images/subgroups.jpg" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                                    <h5 class="card-title">Sub Group</h5>
                                    <p class="text-secondary mb-1">Preview</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.IT.01.01)</p>
                                    <p class="text-muted font-size-sm">(Y1.S1.IT.01.02)</p>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button" onclick="window.location.href='subGroup.html'">Go Inside</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!-- Insert this line above script imports  -->
<script>
    if (typeof module === "object") {
        window.module = module;
        module = undefined;
    }
</script>

<!-- normal script imports etc  -->
<script src="../public/jquery.min.js"></script>
<script src="../public/popper.min.js"></script>
<script src="../public/boostrap/bootstrap.min.js"></script>
<script src="../public/script/slider-custom.js"></script>
<script src="../public/jConfirm/jquery-confirm.min.js"></script>
<script src="../public/jtoaster/jquery.toast.min.js"></script>
<script src="../public/datatable/jquery.dataTables.min.js"></script>
<script src="../public/Chart.min.js"></script>

<!-- Insert this line after script imports -->
<script>

    if (window.module) module = window.module;
    const { navBar } = require('../siteMaster');

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(window).on("load", function () {
        $("#navBarID").prepend(navBar);

        // highlight page
        $('#liStudent').addClass('active');

    });

</script>

</html>
